


.boutons{

    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 90px;
    color: #CCCBCB;
    margin-right: 60px;
}
.titre{

    color: #8D0101;
    font-family: 'Lacquer', cursive;
    align-self: center;
    font-size: 90px;
}
.nave-barre-bas{

    display: flex;
    justify-content: space-between;
}

.nave-barre-haut{
    display: flex;
    justify-content: space-between;

}

.arbre{

    position: relative;
    right: -50px;
   top:-10px;}


   .texte p {

    color: #CCCBCB;
}
.body{

    display: flex;
    gap: 20px;

}
body{

    background: linear-gradient(#0C0C0B 20%,#458592,#990606);

}

.annabelle{

    size: 360px 1110px;


}
.image {

    order: -1;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 85px;
}

.ensemble h1{

    font-family: 'Kristi', cursive;
    color: #8D0101;
    height: 70px;

}

.film{
    height: 600px;
    display: flex;
    position:relative;
}


.film1 {
    position: absolute;
    margin-left: 15vw;
    height: 500px;
}

.film2 {
    position: absolute;
    margin-left: 35vw;
    height: 500px;
}

.film3 {
    position: absolute;
    margin-left: 55vw;
    height: 500px;
}