
*{

    margin: 0;
    padding:0;
    box-sizing: border-box;}


.boutons{

    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 90px;
    color: #CCCBCB;
    margin-right: 60px;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
}
.titre{

    color: #8D0101;
    font-family: 'Lacquer', cursive;
    align-self: center;
    font-size: 90px;
}
.nave-barre-bas{

    display: flex;
    justify-content: space-between;
}

.nave-barre-haut{
    display: flex;
    justify-content: space-between;

}

.arbre{

    position: relative;
    right: -50px;
   top:-10px;}

.debut{

    display: flex;
    gap: 200px;
    justify-content: space-around;
}
h2{

    justify-content: center;
    margin-left: 38px;
    margin-right: 40px;
    color: #CCCBCB;
    font-size: 32px;
    font-family: 'Inconsolata', monospace;
    margin-top: 20px;

}
.texte p {

    color: #CCCBCB;
    margin-left: 30px;
    margin-right: 30px;
}
.texte{

    gap: 20px;

}
.barre{

    background: color #458592;
    border-style: #458592;


}

.spooky{

    position: relative;
    right: -40px;
    bottom:10px;
    height: 100px;


}


body{

    background: linear-gradient(#0C0C0B 20%,#458592,#990606);

}

.annabelle{

    size: 342px 1110px;
    margin-left: 40px;


}
.image {

    order: -1;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 85px;
}

.histoire{

    font-family: 'Kristi', cursive;
    color: #8D0101;
    font-size: 128px;
    position: relative;
    right: -850px;
    margin-top: 50px;


}

.film{
    height: 600px;
    display: flex;
    position:relative;
}


.film1 {
    position: absolute;
    margin-left: 15vw;
    height: 500px;
}

.film2 {
    position: absolute;
    margin-left: 35vw;
    height: 500px;
}

.film3 {
    position: absolute;
    margin-left: 55vw;
    height: 500px;
}